.animes-container {
	padding: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.animes-container .panel-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 2rem;
	justify-items: stretch;
	justify-content: center;
}

.anime-card {
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0;

	aspect-ratio: 1 / 1.5;
	height: auto;
	width: 180px;
}

.anime-card .anime-info {
	margin-top: auto;
	background-color: rgba(0, 0, 0, 0.719);
	color: white;
	padding: 1rem;
	gap: .5rem;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.anime-card .anime-info>p {
	margin: 0;
	font-size: 14px;
}